[package]
name = "web"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["router", "fullstack"] }
ui = { path = "../ui" }

[features]
default = []
web = ["dioxus/web"]
server = ["dioxus/server", "ui/server"]
